.container-detail {
  width: 1200px;
  color: black;
  margin: 0 auto;
  display: flex;
  background-color: white;
  margin-top: 69px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-size: 2rem;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .content__item {
      display: flex;
      .left {
        flex: 1;
        border: 1px solid #e8e8e8;
        padding: 10px;
      }
      .right {
        flex: 1;
        padding: 10px;
        h4,
        h3,
        p {
          text-align: left;
        }
        h3 {
          font-weight: 1000;
        }
        .gift-container {
          width: 85%;
          display: flex;
          flex-direction: column;
          // justify-content: flex-start;
          // justify-items: flex-start;
          align-items: flex-start;
          border: 1px dotted var(--primary-color);
          margin: 10px auto;
          padding: 20px 10px;
          color: var(--primary-color);
          i {
            color: var(--primary-color);
            font-size: 2rem;
            margin-right: 10px;
          }
        }
        .required-container {
          width: 85%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          border: 1px dotted rgb(168, 18, 18);
          padding: 20px 10px;
          margin: 10px auto;
          h3 {
            color: rgb(168, 18, 18);
          }
          ul {
            list-style-type: disclosure-closed;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            li {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .info {
    width: 100%;
    // background-color: red;
    .slider {
      // background-color: yellow;
      width: 100%;
      display: flex;
      flex-direction: column;
      .slider-tab {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #e8e8e8c7;
        .slider-tab-item {
          width: 198px;
          // background-color: #dddcdc;
          font-size: 1.8rem;
          padding: 12px 0;

          &:hover {
            box-shadow: 0 -1px 0 var(--primary-color);
            cursor: pointer;
          }
        }
      }
      .slider-content {
        width: 100%;
        color: black;
        .container-rating {
          width: 100%;
          .rating {
            width: 100%;
            .stars {
              width: 60%;
              margin: 0 auto;

              .title {
                display: flex;
                justify-content: flex-start;
                font-weight: bold;
              }
              .list-star {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 auto;
                .star {
                  color: gray;
                  cursor: pointer;
                  &:hover {
                    color: var(--primary-color);
                  }
                }
              }
            }
            .comment {
              width: 60%;
              // border: 1px solid #e8e8e8;
              color: black;
              margin: 0 auto;
              position: relative;
              a {
                color: black;
              }
              .title {
                display: flex;
                justify-content: flex-start;
                font-weight: bold;
              }
              .comment {
                width: 100%;
              }
            }
            .info-user {
              width: 60%;
              margin: 0 auto;
              display: flex;
              justify-content: space-between;
              .username,
              .email {
                width: 45%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 0;
                margin: 0;
                border: 0;
                .label {
                  font-weight: bold;
                }
              }
            }
          }
        }
        a {
          color: black;
          &:hover {
            color: var(--primary-color);
          }
        }
      }
    }
  }
}
div.button {
  width: 70%;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  .btn-add-to-cart + .btn-add-to-cart {
    margin-left: 10px;
  }
  .btn-add-to-cart {
    width: 100%;
    display: flex;
    border: 1px solid rgba(232, 232, 2320.4);
    height: 40px;
    align-items: center;
    padding: 0;
    cursor: pointer;
    .icon {
      width: 55px;
      background-color: whitesmoke;
      &:hover {
        color: #fb6445;
      }
    }
    .button-add-to-cart {
      flex: 1;
      outline: none;
      background-color: var(--primary-color);
      border: none;
      height: 100%;
      &:hover {
        background-color: #fb6445;
      }
    }
  }
}

h4,
h3,
h2,
h1,
h5,
h6 {
  margin: 0;
}
.tab--active {
  background-color: var(--primary-color);
}
.input {
  width: 100%;
  border: 1px solid #e8e8e8;
  padding: 10px;
  margin: 10px 0;
  height: 30px;
  border-radius: 5px;
  outline: none;
  // font-size: 1.8rem;
  color: black;
}
button:hover {
  cursor: pointer;
}
.preview-modal {
  width: 100%;
  height: 100vh;
  background-color: #ece9e9a4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  .preview-modal-container {
    width: 80%;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    position: relative;
    animation: fade-in 0.5s ease-in-out forwards;
    i {
      position: absolute;
      top: 0;
      right: 0;
      color: gray;
      font-size: 5rem;
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }
    .images {
      width: 100%;
      display: flex;

      img {
        width: 80%;
        margin: 0 auto;
      }
    }
    .image-list {
      min-width: 30%;
      display: flex;

      bottom: 0;
      gap: 10px;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      z-index: 5;
      img {
        height: 100px;
      }
    }
  }
}
.--active {
  border: 4px solid var(--primary-color);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .container-detail .content .content__item {
    flex-direction: column;
  }
  .container-detail {
    width: 100%;
  }
  img {
    width: 100%;
  }
  div.button .btn-add-to-cart .icon {
    display: none;
  }
  div.button {
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 10px;
    left: 0;
    border: 1px solid #e8e8e8;
    background-color: white;
  }
  .container-detail .info .slider {
    margin-bottom: 50px;
  }
  .container-detail .content .content__item .right .gift-container {
    width: 100%;
    padding: 0 2px;
    font-size: 1.17rem;
  }
  .container-detail .content .content__item .right .required-container {
    width: 100%;
    font-size: 1.17rem;
  }
  .container-detail
    .info
    .slider
    .slider-content
    .container-rating
    .rating
    .stars {
    width: 90%;
    font-size: 1.4rem;
  }
  .container-detail
    .info
    .slider
    .slider-content
    .container-rating
    .rating
    .comment {
    width: 90%;
    font-size: 1.4rem;
  }
  .container-detail
    .info
    .slider
    .slider-content
    .container-rating
    .rating
    .info-user {
    width: 90%;
    flex-direction: column;
  }
  .container-detail
    .info
    .slider
    .slider-content
    .container-rating
    .rating
    .info-user
    .username,
  .container-detail
    .info
    .slider
    .slider-content
    .container-rating
    .rating
    .info-user
    .email {
    width: 90%;
  }
  .btn {
    margin-bottom: 30px;
  }
  .container-detail .info .slider .slider-content {
    font-size: 1.17rem;
  }
  .container-detail .content .content__item .right h3 {
    font-size: 1.6rem;
  }
  .container-detail .content .content__item .right h4,
  .container-detail .content .content__item .right h3,
  .container-detail .content .content__item .right p {
    font-size: 1.17rem;
  }
  .--price-none-space {
    font-size: 1.17rem;
    margin: auto 200px auto auto;
  }
  .container-detail .info .slider .slider-tab .slider-tab-item {
    font-size: 1.5rem;
  }
  .preview-modal .preview-modal-container .images img {
    width: 100%;
  }
  .preview-modal .preview-modal-container .image-list img {
    height: 30px;
  }
  .modal-active {
    display: block;
  }
}
